.ant-btn {
    background-color: #F3F4F7;
    border-radius: 6px;
}

.ant-btn:hover, .ant-btn:focus {
    color: var(--theme-color);
    border-color: var(--theme-color);
}

.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    border-color: var(--theme-color);
    background: var(--theme-color);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    opacity: 0.82;
}

.ant-input:hover, .ant-input:focus, .ant-input-focused {
    border-color: var(--theme-color);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: var(--theme-color);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: var(--theme-color);
    box-shadow: 0 0 4px 0 var(--theme-color);
}