.header_line {
    text-align: center;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-table {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
}


.ant-btn {
    background-color: #F3F4F7;
    border-radius: 6px;
}

.ant-btn:hover, .ant-btn:focus {
    color: var(--theme-color);
    border-color: var(--theme-color);
}

.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    border-color: var(--theme-color);
    background: var(--theme-color);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    opacity: 0.82;
}

.ant-input:hover, .ant-input:focus, .ant-input-focused {
    border-color: var(--theme-color);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: var(--theme-color);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: var(--theme-color);
    box-shadow: 0 0 4px 0 var(--theme-color);
}

.ant-card-actions > li > span:hover {
    color: var(--theme-color);
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: var(--theme-color);
    border-color: var(--theme-color);
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: var(--theme-color);
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background: var(--theme-color);
    border-color: var(--theme-color);
    opacity: 0.85;
}

.ant-radio-button-wrapper {
    color: var(--theme-color);

}

.ant-radio-button-wrapper:hover {
    color: var(--theme-color);
    opacity: 0.85;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--theme-color);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: var(--theme-color);
}