.header_line {
    text-align: center;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.content-table {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
}

.content-table >>> .ant-empty.ant-empty-normal {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
}


.cs_filed_container, .ee_filed_container {
    background-color: white;
    margin: 6px 0;
    padding: 13px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.cs_filed, .ee_filed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ant-btn {
    background-color: #F3F4F7;
    border-radius: 6px;
}

.ant-btn:hover, .ant-btn:focus {
    color: var(--theme-color);
    border-color: var(--theme-color);
}

.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    border-color: var(--theme-color);
    background: var(--theme-color);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    opacity: 0.82;
}

.ant-input:hover, .ant-input:focus, .ant-input-focused {
    border-color: var(--theme-color);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: var(--theme-color);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: var(--theme-color);
    box-shadow: 0 0 4px 0 var(--theme-color);
}

.ant-card-actions > li > span:hover {
    color: var(--theme-color);
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: var(--theme-color);
    border-color: var(--theme-color);
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: var(--theme-color);
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background: var(--theme-color);
    border-color: var(--theme-color);
    opacity: 0.85;
}

.ant-radio-button-wrapper {
    color: var(--theme-color);

}

.ant-radio-button-wrapper:hover {
    color: var(--theme-color);
    opacity: 0.85;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--theme-color);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: var(--theme-color);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
    color: var(--theme-color);
    opacity: 1;
}

.ant-tabs-tab:hover {
    color: var(--theme-color);
    opacity: 0.85;
}

.ant-tabs-ink-bar {
    position: absolute;
    background: var(--theme-color);
    pointer-events: none;
}

.ant-steps-item-finish .ant-steps-item-icon,
.ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process) > .ant-steps-item-container[role='button']:hover .ant-steps-item-icon {
    border-color: var(--theme-color);
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process) > .ant-steps-item-container[role='button']:hover .ant-steps-item-icon .ant-steps-icon,
.ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-title, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-subtitle, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-description
{
    color: var(--theme-color);
}


.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: var(--theme-color);
    border-color: var(--theme-color)
}

.ant-steps-navigation .ant-steps-item::before {
    background-color: var(--theme-color);
}
